#calculator {
    width: 450px;
    height: 600px;
    padding: 12px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
}

#display {
    flex: 1;
    background-color: rgb(180, 173, 173);
    border-radius: 8px;
    margin: 4px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 36px;
}

.row {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 8px;
    flex: 1;
    margin: 4px;
    border:none;
    color: white;
    font-size: 24px;
}

.operator,button[data-key="="] {
    background-color: rgb(190, 19, 76);
}

.operand,button[data-key="."] {
    background-color: rgb(61, 72, 224);
}

.command {
    background-color: rgb(221, 218, 40);
}